<% if @user %>
<section class="bg">
  <div class="cover"></div>
  <div class="box">
    <form method="POST" action="/track/new">
      <div class="middle">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="url" name="url" placeholder="Soundcloud Link" required>
            </div>
            <div class="small-2 columns">
              <input class="button alert postfix" type="submit" value="Share"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<% end %>

<section class="track-list">
  <% @tracks.each do |track| %>

  <% if @user && VoteRelation.single_vote(@user.id, track.id).count == 0 %>

  <form action="/track/<%= track.id %>/vote" method="POST">
    <input type="hidden" name="id" value="<%= track.id %>">
    <button type="submit" class="left like"><i class="fi-like"></i><span class="votes"> <%= track.votes %></span></button>
  </form>

  <% else %>

  <div class="left like like-show"><i class="fi-like"></i><span class="votes"> <%= track.votes %> | </span></div>

  <% end %>

  <h2>
    <a href="<%= track.url %>" target="_blank"><span class="title"><%= track.title %></span> <span class="author">by: <%= track.author %></span></a>
  </h2>
  
  <div><%= @tracks_embed[track.id] %></div>
  <hr>
  <% end %>
</section>