<% if @user %>
<section class="bg">
<div class="cover"></div>
<div class="box">
    <form method="POST" action="/track/new">
      <div class="middle">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="url" name="url" placeholder="Soundcloud Link" required>
            </div>
            <div class="small-2 columns">
              <input class="button alert postfix" type="submit" value="Share"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<% end %>

<section>
  <% @tracks.each do |track| %>
  <h3>
    <% if track.url %>
    <a href="<%= track.url %>" target="_blank"><span class="title"><%= track.title %></span> <span class="author">by: <%= track.author %></span></a>
    <% else %>
    <span class="title"><%= track.title %></span><span class="author">by: <%= track.author %></span>
    <% end %>
  </h3>
  <div><%= @tracks_embed[track.id] %></div>
  <hr>
  <% end %>
</section>